<div class="container">
	<div class="row">
		<form class="col s8">
			<h3>Datos de la tarea</h3>
			<div class="input-field">
				<input type="text" placeholder="Ingrese el título" id="titulo" name="titulo" [(ngModel)]="tarea.titulo">
				<label for="titulo">Título</label>
			</div>
			<div class="input-field">
				<input type="date" placeholder="Ingrese la fecha" id="fecha" name="fecha" [(ngModel)]="tarea.fecha">
				<label for="fecha">Fecha</label>
			</div>
			<div class="input-field">
				<input type="text" placeholder="Ingrese el solicitante" id="solicitante" name="solicitante" [(ngModel)]="tarea.solicitante">
				<label for="solicitante">Solicitante</label>
			</div>
			<div class="input-field">
				<select style="display:block" name="estado" [(ngModel)]="tarea.estado">
					<option value="sin-asignar">Sin asignar</option>
					<option value="asignada">Asignada</option>
					<option value="en-proceso">En proceso</option>
					<option value="terminada">Terminada</option>
					<option value="cancelada">Cancelada</option>
				</select>
			</div>
			<div class="input-field">
				<button class="btn waves-effect waves-ligth" (click)="grabar()">Grabar</button>
			</div>
		</form>
	</div>
</div>