<app-lista></app-lista>
<app-alerta></app-alerta>
<app-conformidad></app-conformidad>

<!--<input type="text" (input)="setearNombreTarea($event)">-->
<input type="text" [(ngModel)]="tareaAgregada">
<br>
<input type="text" [(ngModel)]="propietario" placeholder="Ingrese propietario">
<p>{{propietario}}</p>

<button [disabled]="!propietario.trim()" (click)="agregarPropietario()">Agregar propietario</button>
<br>
<button [disabled]="permitido" (click)="agregarTarea()">Agregar Tarea</button>

<p *ngIf="tareaAsignada; else noHayTarea">{{estado}}</p>
<ng-template #noHayTarea>
	No se ha agregado ninguna tarea aún.
</ng-template>

<p>{{permitido}}</p>

<p [innerText]="permitido"></p>
<!--<app-tarea *ngFor="let tarea of tareas"></app-tarea>-->
<div *ngFor="let nombreTarea of tareas; let indice = index">
	{{indice+1}} - {{nombreTarea}}
</div>
<hr>
<app-lista-tareas></app-lista-tareas>